juneogo/.juneogo/logs
juneogo/.juneogo/db
juneogo/.juneogo/staking
juneogo/.juneogo/configs
juneogo/.juneogo/chainData
juneogo/.juneogo/config.json
juneogo/.juneogo/process.json
caddy/caddy_config
caddy/caddy_data

.env