{
  email your@email.com
}

your-domain.com {
    reverse_proxy juneogo:9650

    //  uncomment the following lines to enable basic auth
    // basic_auth  {
    //     {$CADDY_USER} {$CADDY_PASSWORD}
    // }
}

