{
  email your@email.com
}

your-domain.com {
    reverse_proxy juneogo:9650

    // Uncomment the following lines to enable basic auth for juneogo api
    // basic_auth  {
    //     {$CADDY_USER} {$CADDY_PASSWORD}
    // }
}

